{%  extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
 <h1>mot de passe oublié</h1>

    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
    <p>
        {{ form_label(form.useremail, 'Email :') }}
        {{ form_widget(form.useremail) }}
    </p>
    <p>
        <input type="submit" class="btn btn-info" name="submit" value="Valider">
    </p>
    {{ form_end(form) }}

    {{ form_errors(form.useremail) }}

{%  endblock %}