{%  extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <h1>nouveau mdp</h1>
    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
    <p>
        {{ form_label(form.password, 'Mot de passe :') }}
        {{ form_widget(form.password) }}
    </p>
    <p>
        <input type="submit" class="btn btn-info" name="submit" value="Valider">
    </p>
    {{ form_end(form) }}


{%  endblock %}