{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/searchResult.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row my-4">
        <di class="col-sm-4">
          <h2>Catégories</h2>
            <form method="post">
                {% for category in categories %}
                    <p>
                        <input type="radio" value="{{ category.id }}" name="select-category">
                        <label>
                            {{ category.translations[app.request.locale].name }}
                        </label>
                    </p>
                {% endfor %}
            </form>
        </di>
        <di class="col-sm-8  colDroite">
            {% for product in products %}
                <div class="row" >
                    <div class="col-sm-2">
                        <img src="{{ asset('img/product/'~product.image) }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-8">
                        {{ product.translations[app.request.locale].name }}
                    </div>
                    <div class="col-sm-2">
                        {{ product.price * app.session.get('queryConvert').taux | localizedcurrency(app.session.get('queryConvert').code) }}
                    </div>
                </div>

            {% endfor %}
        </di>

    </div>
{% endblock %}